/** GENERICS */

body {
    background-image: linear-gradient(180deg, rgba(0, 150, 136, 1) 15%, rgba(220, 219, 209, 1) 15%);
    height: 100vh;
    padding: 30px;
    margin: 0 auto;
}

img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}

h4 {
    margin: 0;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

small {
    align-self: self-end;
    color: #B1B1B1;
    font-size: 0.7rem;
    margin-right: 5px;
}

a,
.fas {
    color: #B1B1B1;
}

[class^="fa"] {
    cursor: pointer;
}

/** LAYOUT */

#root {
    height: 100%;
    width: 80%;
}

/*# LEFT SIDEBAR */

#navbar {
    height: 100%;
    flex-basis: 35%;
    background-color: #FFFFFF;
}

header {
    height: 70px;
    width: 100%;
    background-color: #EAEAEA;
    padding: 10px;
}

#banner {
    background-color: #8EDAFC;
    height: 70px;
    padding: 0 20px;
    display: flex;
    font-size: 0.9rem;
    justify-content: start;
    align-items: center;
}

#banner-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #8EDAFC;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    height: 50px;
    padding: 10px;
}

#contacts-element {
    overflow: auto;
    height: calc(100% - 200px);
    margin-top: 10px;
    line-height: 0.8rem;
}

#contacts-element small {
    flex-shrink: 0;
}

#contacts-list>li:hover,
#contacts-list-offcanvas>li:hover {
    background-color: #EAEAEA;
}

#contacts-list>.list-group-item {
    justify-content: space-between;
}

/*# ACTIVE CHAT */

#active-chat {
    flex-basis: 65%;
    height: 100%;
}

#chat-main {
    height: calc(100% - 140px);
    margin: 0;
    padding: 30px 80px;
    background-color: #E5DDD5;
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.message {
    width: 300px;
    padding-left: 15px;
    padding-top: 10px;
    margin: 10px 0;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgray;
}

.message.sent {
    background-color: #E2FFD3;
    align-self: flex-end;
}

.message.received {
    background-color: #FFFFFF;
}

.dropdown {
    visibility: hidden;
    align-self: self-end;
    margin-right: 5px;
}

.message:hover .dropdown {
    visibility: visible;
}

footer {
    height: 70px;
    background-color: #F3EEEA;
    display: flex;
    padding: 10px;
}

#contactsOffcanvas {
    width: 40%;
}


/*# RESPONSIVE */


@media screen and (max-width: 1250px) {

    #contacts-list>.list-group-item {
        justify-content: flex-start;
    }

    #last-mess-date,
    #banner {
        display: none;
    }

    #contacts-element {
        height: calc(100% - 130px);
    }

    #chat-main {
        padding: 30px 40px;
    }

    #sidebar-icons>i {
        display: none;
    }
}

@media screen and (max-width: 992px) {

    #chat-icons>.fa-search,
    #chat-icons>.fa-paperclip,
    #last-mess {
        display: none;
    }

    #root {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    #navbar {
        display: none;
    }

    #active-chat {
        flex-basis: 100%;
    }

    #contactsOffcanvas {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {

    body {
        padding: 30px 0px;
    }
}