<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Francesco Mongiello">
    <meta name="description" content="Boolzapp">
    <title>Boolzapp</title>

    <!--§ Icon  -->
    <link rel="icon" href="img/favicon.ico" type="img/ico">

    <!--§ Font-awesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
        integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=='
        crossorigin='anonymous'>

    <!--§ Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--§ Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <!--§ Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--§ My JS -->
    <script src="js/data.js"></script>
    <script defer src="js/script.js"></script>
</head>

<body class="d-flex justify-content-center align-items-center">
    <div id="root" class="container h-100 p-0">

        <main class="h-100 d-flex">

            <!--* LEFT SIDEBAR -->

            <section id="navbar">

                <!-- HEADER -->

                <header class="d-flex justify-content-between align-items-center px-3">

                    <!-- User -->
                    <div class="d-flex align-items-center gap-2">
                        <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
                        <h4>{{ user.name }}</h4>
                    </div>
                    <div class="d-flex gap-3 color-grey">
                        <i class="fas fa-circle-notch fa-lg"></i>
                        <i class="fas fa-message fa-lg"></i>
                        <i class="fas fa-ellipsis-vertical fa-lg"></i>
                    </div>
                </header>

                <!-- BANNER -->

                <div id="banner">
                    <div id="banner-img">
                        <i class="fa-solid fa-bell-slash fa-lg"></i>
                    </div>
                    <div class="ms-2">
                        <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche dekstop</a>
                    </div>
                </div>


                <!-- SEARCHBAR -->

                <div class="input-group" id="search">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="text" v-model="searchText" class="form-control"
                        placeholder="Cerca o inizia una nuova chat">
                </div>

                <div id="contacts-element">

                    <!-- LISTA CONTATTI -->

                    <ul id="contacts-list" class="list-group list-group-flush">
                        <li v-for="contact in filteredContacts" :key="contact.id"
                            class="list-group-item d-flex justify-content-between align-items-center gap-1"
                            role="button" @click="setActiveId(contact.id)">

                            <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                            <div class="w-50">
                                <p class="m-0">{{ contact.name }}</p>
                                <small>{{ getLastMessage(contact) }}</small>
                            </div>

                            <small>{{ getLastMessageDate(contact) }}</small>
                        </li>
                    </ul>

                </div>
            </section>

            <!--* ACTIVE CHAT -->

            <section id="active-chat">

                <!-- HEADER -->
                <header class="d-flex align-items-center justify-content-between px-3">
                    <div class="d-flex align-items-center gap-2">
                        <img :src="`img/avatar${currentContact.avatar}.jpg`" :alt="currentContact.name">
                        <div>
                            <h4>{{ currentContact.name }}</h4>
                            <p class="m-0 fs-6 fw-light">Ultimo accesso oggi alle {{ new Date().toLocaleTimeString()}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <i class="fas fa-search fa-lg"></i>
                        <i class="fas fa-paperclip fa-lg"></i>
                        <i class="fas fa-ellipsis-vertical fa-lg"></i>
                    </div>
                </header>

                <!-- CHAT -->

                <div id="chat-main">
                    <div id="chat" class="d-flex flex-column">
                        <div v-for="message in currentContact.messages" :key="message.id" class="message"
                            :class="{ 'sent': message.status === 'sent', 'recived': message.status === 'received' }">
                            <p class="mb-1">{{ message.text }}</p>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                            <small>{{ message.date }}</small>
                        </div>

                    </div>
                </div>

                <!-- FOOTER -->

                <footer>
                    <div class="input-group d-flex align-items-center gap-3">
                        <span class="p-3">
                            <i class="far fa-face-smile fa-xl"></i>
                        </span>
                        <input type="text" v-model="currentInput" @keyup.enter="sendMessage" class="form-control"
                            placeholder="Scrivi un messaggio">
                        <span class="p-3">
                            <i class="fa-solid fa-microphone fa-xl"></i>
                        </span>
                    </div>
                </footer>
            </section>

        </main>
    </div>
</body>

</html>