<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Francesco Mongiello">
    <meta name="description" content="Boolzapp">
    <title>Boolzapp</title>

    <!--§ Icon  -->
    <link rel="icon" href="img/favicon.ico" type="img/ico">

    <!--§ Font-awesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
        integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=='
        crossorigin='anonymous'>

    <!--§ Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--§ Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <!--§ Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--§ My JS -->
    <script src="js/data.js"></script>
    <script defer src="js/script.js"></script>
</head>

<body class="d-flex justify-content-center align-items-center">
    <div id="root" class="container h-100 p-0">

        <main class="h-100 d-flex">

            <!--* LEFT SIDEBAR -->
            <section id="navbar">

                <!--# HEADER -->
                <header class="d-flex justify-content-between align-items-center px-3">

                    <!-- USER -->

                    <div class="d-flex align-items-center gap-2">
                        <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
                        <h4>{{ user.name }}</h4>
                    </div>

                    <!-- ICONS -->

                    <div class="d-flex gap-3" id="sidebar-icons">
                        <i class="fas fa-circle-notch fa-lg"></i>
                        <i class="fas fa-message fa-lg"></i>
                        <i class="fas fa-ellipsis-vertical fa-lg"></i>
                    </div>
                </header>

                <!--# BANNER -->
                <div id="banner">
                    <div id="banner-img">
                        <i class="fa-solid fa-bell-slash fa-lg"></i>
                    </div>
                    <div class="ms-2">
                        <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche dekstop</a>
                    </div>
                </div>


                <!--# SEARCHBAR -->
                <div class="input-group" id="search">
                    <!-- ICON -->
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>

                    <!--! INPUT -->
                    <input type="text" v-model="searchText" class="form-control"
                        placeholder="Cerca o inizia una nuova chat">
                </div>


                <!--# LISTA CONTATTI -->
                <div id="contacts-element">
                    <ul id="contacts-list" class="list-group list-group-flush">

                        <li v-for="contact in filteredContacts" :key="contact.id"
                            class="list-group-item d-flex  align-items-center gap-1" role="button"
                            @click="setActiveId(contact.id)">

                            <div class="d-flex gap-2 align-items-center">

                                <!-- IMG -->
                                <img :src=" `img/avatar${contact.avatar}.jpg`" :alt="contact.name">

                                <div>
                                    <!-- NOME -->
                                    <p class="mb-2">{{ contact.name }}</p>

                                    <!-- ULTIMO MESSAGGIO -->
                                    <small id="last-mess">{{ getLastMessage(contact) }}</small>
                                </div>

                            </div>

                            <!-- DATA ULTIMO MESS -->
                            <small id="last-mess-date">{{ getLastMessageDate(contact) }}</small>
                        </li>
                    </ul>
                </div>
            </section>

            <!--* ACTIVE CHAT -->
            <section id="active-chat">

                <!--# HEADER -->
                <header class="d-flex align-items-center justify-content-between px-3">
                    <div class="d-flex align-items-center gap-2">

                        <!-- IMG -->
                        <img :src="`img/avatar${currentContact.avatar}.jpg`" :alt="currentContact.name">

                        <div>
                            <!-- NOME -->
                            <h4>{{ currentContact.name }}</h4>
                            <!-- ULTIMO ACCESSO -->
                            <p class="m-0 fs-6 fw-light">
                                Ultimo accesso oggi alle {{ new Date().toLocaleTimeString()}}
                            </p>
                        </div>
                    </div>

                    <!-- ICONS -->
                    <div class="d-flex gap-3" id="chat-icons">
                        <i class="fas fa-search fa-lg"></i>
                        <i class="fas fa-paperclip fa-lg"></i>
                        <i class="fas fa-ellipsis-vertical fa-lg" data-bs-toggle="offcanvas"
                            href="#contactsOffcanvas"></i>

                    </div>
                </header>

                <!--# CHAT -->
                <div id="chat-main">
                    <div id="chat" class="d-flex flex-column">

                        <!--* MESSAGGIO -->
                        <div v-for="message in currentContact.messages" :key="message.id" class="message"
                            :class="message.status">

                            <div class="d-flex justify-content-between">
                                <!-- TESTO -->
                                <p class="mb-1">{{ message.text }}</p>

                                <!-- DROPDOWN -->
                                <div class="dropdown me-2">
                                    <button class="btn dropdown-toggle p-1 border-0" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#" @click="deleteMessage(message.id)">
                                                Elimina messaggio
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- DATA -->
                            <small>{{ message.date }}</small>
                        </div>
                    </div>
                </div>

                <!--# FOOTER -->
                <footer>
                    <div class="input-group d-flex align-items-center gap-3">
                        <!-- ICON -->
                        <span class="p-3">
                            <i class="far fa-face-smile fa-xl"></i>
                        </span>

                        <!--! INPUT -->
                        <input type="text" v-model="currentInput" @keyup.enter="sendMessage" class="form-control"
                            placeholder="Scrivi un messaggio">

                        <!-- ICON -->
                        <span class="p-3">
                            <i class="fa-solid fa-microphone fa-xl"></i>
                        </span>
                    </div>
                </footer>
            </section>

        </main>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="contactsOffcanvas"
            aria-labelledby="contactsOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="contactsOffcanvasLabel">Lista Contatti</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul id="contacts-list-offcanvas" class="list-group list-group-flush">
                    <li v-for="contact in filteredContacts" :key="contact.id"
                        class="list-group-item d-flex  align-items-center gap-1" role="button"
                        @click="setActiveId(contact.id)">

                        <div class="d-flex gap-2 align-items-center">

                            <!-- IMG -->
                            <img :src=" `img/avatar${contact.avatar}.jpg`" :alt="contact.name">

                            <div>
                                <!-- NOME -->
                                <p class="mb-0">{{ contact.name }}</p>

                                <!-- ULTIMO MESSAGGIO -->
                                <small>{{ getLastMessage(contact) }}</small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!--§ Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>